#banner {
    margin-top: 50px;
    position: relative;
}
#banner img{
    width: 100%;
    height: 100%;
}

#banner .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: rgb(100, 100, 100);

}



#banner h2{
    font-size: 50px;
    color: rgb(114, 168, 168);
    transform: translateX(0%) translateY(10%);
}

#banner p{
    font-size: 20px;
    color: rgb(99, 98, 98);
    transform: translateX(0%) translateY(10%);
}


#banner a {
    font-size: block;
    width: 100px;
    color: rgb(155, 92, 116);
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    border: 3px solid rgb(245, 245, 245);
}